.version.index /* version checker */
{
	color: #0000E0;
	background-color: #3A50AF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 499.985432502815px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -574px;
	width: 0.01px;/* should not cover content below */
}

#pu168
{
	width: 0.01px;
	margin-left: -100px;
}

#u168
{
	z-index: 2;
	height: 607px;
	border-width: 0px;
	border-color: transparent;
	background: #FFFFFF url("../images/_mg_7490final.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u168-bw
{
	z-index: 2;
	height: 607px;
}

#u188
{
	z-index: 4;
	height: 607px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.18;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=18)";
	filter: alpha(opacity=18);
}

#u188-bw
{
	z-index: 4;
	height: 607px;
}

#u121
{
	z-index: 5;
	width: 940px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 480px;
	left: 128px;
}

#u127
{
	z-index: 7;
	width: 943px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 484px;
	left: 116px;
}

#u91-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 291px;
}

#u94-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 308px;
}

#inicio
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 51px;
}

#u11348
{
	z-index: 65;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 731px;
	left: 261px;
}

#u11370
{
	z-index: 67;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 731px;
	left: 556px;
}

#u11384
{
	z-index: 69;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 730px;
	left: 850px;
}

#u12234
{
	z-index: 71;
	width: 112px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 72px;
}

#pu1504
{
	width: 0.01px;
	margin-left: 93px;
	margin-top: 144px;
}

#u1504
{
	z-index: 50;
	width: 795px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u1502
{
	z-index: 51;
	display: block;
}

#u1512
{
	z-index: 52;
	width: 249px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u11345-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 90px;
}

#u1515
{
	z-index: 53;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 277px;
}

#u1521
{
	z-index: 54;
	width: 150px;
	height: 54px;
	position: relative;
	margin-right: -10000px;
}

#u1530
{
	z-index: 55;
	width: 174px;
	height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 451px;
}

#u1533
{
	z-index: 56;
	width: 151px;
	height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 651px;
}

#pu138-4
{
	width: 0.01px;
	margin-left: 136px;
	margin-top: -339px;
}

#u138-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u143-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 273px;
}

#u145-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 582px;
}

#pu242
{
	width: 0.01px;
	margin-left: 140px;
	margin-top: -287px;
}

#u242
{
	z-index: 38;
	width: 133px;
	height: 32px;
	border-style: solid;
	border-width: 1px;
	border-color: #324257;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u245
{
	z-index: 39;
	width: 133px;
	height: 32px;
	border-style: solid;
	border-width: 1px;
	border-color: #324257;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u256
{
	z-index: 40;
	width: 133px;
	height: 32px;
	border-style: solid;
	border-width: 1px;
	border-color: #324257;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 587px;
}

#u241-6
{
	z-index: 32;
	display: block;
	vertical-align: top;
	margin-left: 68px;
	margin-top: 188px;
	position: relative;
}

#u141
{
	z-index: 3;
	width: 2630px;
	border-width: 0px;
	border-color: transparent;
	background-color: #334259;
	padding-bottom: 35px;
	left: -656px;
	margin-top: 132px;
	position: relative;
}

#pu189-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 57px;
	margin-left: 623px;
}

#u189-3
{
	z-index: 29;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 277px;
}

#u261-8
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pu11225
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 70px;
	margin-left: 1500px;
}

#u11225
{
	z-index: 57;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11236
{
	z-index: 59;
	width: 72px;
	height: 68px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 8px;
}

#u11293
{
	z-index: 60;
	width: 75px;
	height: 75px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 97px;
}

.ie #u1521,.ie #u1530,.ie #u1533,.ie #u11236,.ie #u11293
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 572px;
}
